<!DOCTYPE html>
<html>
<head>
<title>Bibo</title>

<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
//- <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
<br>
<br>
<h1>Breathe in,Breathe out</h1>
<br>
<p>An experiment to determine the correlation between our breath and memory.
</p>
<br>
<div class="link1">
<form>
<button type="submit" id="link" class="link"><a href="/startpage1" class="linkcolour">START</button>
</form>
</div>
//<a href="startpage1" class="link">START</a>
//- <script type="text/javascript" src="bootstrap.js"></script>

</body>
</html>