<!DOCTYPE html>
<html>
<head>
<title>Bibo</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="stylesheets/assignment1.css">
</head>
<body>
<h1>Bibo</h1>
<p>An experiment to determine the correlation between our breath and memory.
</p>
<p>...</p>
<p>...</p>
<p>...</p>
<a href="startpage1" class="link">START</a>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>