<!DOCTYPE html>
<html>
<head>
<title>Bibo</title>
<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
//- <link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
<div>
<h1>Breathe In, Breathe Out</h1>
<p>An experiment to determine the correlation between our breath and memory.</p>
<div class="link1">
<form method="POST">
<button type="submit" id="link" class="link"><a href="startpage1" class="linkcolour">START</button>
</form>
</div>
</div>
//<a href="startpage1" class="link">START</a>
//- <script type="text/javascript" src="bootstrap.js"></script>
</body>
</html>