<!DOCTYPE html>
<html>
<head>
<meta http-equiv='refresh' content='8; URL=https://rocky-bastion-33424.herokuapp.com/nextpage3'>
<title>NEXT</title>
</head>
<link rel="stylesheet" type="text/css" href="stylesheets/nextpage2.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
//- <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<body>
<h1>Step-3</h1>
<p>Take a deep breath.</p>
<p>Exhale.</p>
<p>Repeat.</p>
<p>Now as you BREATHE OUT, take a look at these images</p>
<div class="container-fluid paddingss" id="button-group">
</div>
<br>
<br>
<p>Time left: <span id='countdownTimer'> 8 </span> seconds</p>
//<div class="link1">
//<form>
//<button type="submit" id="link" class="link"><a href="/nextpage3" class="linkcolour">NEXT</button>
//</form>
//</div>
<script type="text/javascript" src="javascripts/nextpage2.js"></script>
</body>
</html>
