<!DOCTYPE html>
<html>
<head>
<title>NEXT</title>
</head>
<link rel="stylesheet" type="text/css" href="stylesheets/nextpage1.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
//- <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<body>
<h1>Step-2</h1>
<p>Which of the following images do you remember seeing?</p>
<div class="container-fluid">
<div class="row">
<div class="col-sm-4 images">
<button onclick="store(this.id);" id="in1" class="btn" name="ambulance">
<i class="fa fa-ambulance innerimages"></i>
</button>
<button onclick="store(this.id);"id="in2" class="btn" name="archway"><i class="fa fa-archway innerimages"></i></button>
<button onclick="store(this.id);"id ="in3" class="btn" name="bell"><i class="fa fa-bell innerimages"></i></button>
<button onclick="store(this.id);" id="in4" class="btn" name="batteryhalf"><i class="fa fa-battery-half innerimages"></i></button>
</div>
<div class="col-sm-6 images">
<button onclick="store(this.id);" id="in5" class="btn" name="clock"><i class="fa fa-clock innerimages"></i></button>
<button onclick="store(this.id);" id="in6" class="btn" name="bookopen"><i class="fa fa-book-open innerimages"></i></button>
<button onclick="store(this.id);" id="in7" class="btn" name="newspaper"><i class="fa fa-newspaper innerimages"></i></button>
<button onclick="store(this.id);" id="in8" class="btn" name="chess"><i class="fa fa-chess innerimages"></i></button>
</div>
<div class="col-sm-6 images">
<button onclick="store(this.id);" id="in9" class="btn" name="worship"><i class="fa fa-place-of-worship innerimages"></i></button>
<button onclick="store(this.id);" id="in10" class="btn" name="hotel"><i class="fa fa-hotel innerimages"></i></button>
<button onclick="store(this.id);" id="in11" class="btn" name="uni"><i class="fa fa-university innerimages"></i></button>
<button onclick="store(this.id);" id="in12" class="btn" name="bug"><i class="fa fa-bug"></i></button>
</div>
<div class="col-sm-6 images">
<button onclick="store(this.id);" id="in13" class="btn" name="bible"><i class="fa fa-bible innerimages"></i></button>
<button onclick="store(this.id);" id="in14" class="btn" name="microphone"><i class="fa fa-microphone innerimages"></i></button>
<button onclick="store(this.id);" id="in15" class="btn" name="home"><i class="fa fa-home innerimages"></i></button>
<button onclick="store(this.id);" id="in16" class="btn" name="pencil"><i class="fa fa-pencil-alt innerimages"></i></button>
</div>
</div>
</div>
</form>
<br>
<br>
<div class="link1">
<form onsubmit="next()">
<button type="submit" id="link" class="link">NEXT</button>
</form>
</div>
//<a href="nextpage2" onclick="next();" class="link">NEXT</a>
//- <script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="javascripts/nextpage1.js"></script>

</body>
</html>