<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<link rel="stylesheet" type="text/css" href="stylesheets/nextpage3.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
//- <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<body>
<h1>Bibo</h1>
<p>Which of the following images do you remember seeing?</p>
<div class="row">
<div class="col-sm-6 images">
<button onclick="store(this.id);"class="btn" id="out1" name="ambulance"><i class="fa fa-ambulance innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out2" name="archway"><i class="fa fa-archway innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out3" name="bell"><i class="fa fa-bell innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out4" name="batteryhalf"><i class="fa fa-battery-half innerimages"></i></button>
</div>
<div class="col-sm-6 images">
<button onclick="store(this.id);" class="btn" id="out5" name="clock"><i class="fa fa-clock innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out6" name="bookopen"><i class="fa fa-book-open innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out7" name="newspaper"><i class="fa fa-newspaper innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out8" name="chess"><i class="fa fa-chess innerimages"></i></button>
</div>
<div class="col-sm-6 images">
<button onclick="store(this.id);" class="btn" id="out9" name="worship"><i class="fa fa-place-of-worship innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out10" name="home"><i class="fa fa-home innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out11" name="uni"><i class="fa fa-university innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out12" name="camera"><i class="fa fa-camera innerimages"></i></button>
</div>
<div class="col-sm-6 images">
<button onclick="store(this.id);" class="btn" id="out13" name="bible"><i class="fa fa-bible innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out14" name="microphone"><i class="fa fa-microphone innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out15" name="hotel"><i class="fa fa-hotel innerimages"></i></button>
<button onclick="store(this.id);" class="btn" id="out16" name="pencil"><i class="fa fa-pencil-alt innerimages"></i></button>
</div>
</div>
<br>
<br>
<div class='link1'>
<form onsubmit="done()">
<button type="submit" id="link">DONE</button>
</form>
</div>
//- <script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="javascripts/nextpage3.js"></script>
</body>

</html>