<!DOCTYPE html>
<html>
<head>
<meta http-equiv='refresh' content='8; URL=https://rocky-bastion-33424.herokuapp.com/nextpage1'>
<title>Start</title>
<link rel="stylesheet" type="text/css" href="stylesheets/startpage1.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<h1>Step-1</h1>
<p>Take a deep breath.</p>
<p>Exhale.</p>
<p>Repeat.</p>
<p>Now as you breathe in, take a look at these images.</p>
<div class="container">
<div class="col-sm-6 images" id="button-group">
//- <button class="btn" id="in15" name="home"><i class="fa fa-home innerimages"></i></button>
//- <button class="btn" id="in10" name="hotel"><i class="fa fa-hotel innerimages"></i></button>
//- <button class="btn" id="in7" name="newspaper"><i class="fa fa-newspaper innerimages"></i></button>
//- <button class="btn" id="in9" name="worship"><i class="fa fa-place-of-worship innerimages"></i></button>
//- <button class="btn" id="in11" name="uni"><i class="fa fa-university innerimages"></i></button>
</div>
</div>
<br>
<br>
<p> Time left : <span id="countdowntimer">8 </span> seconds</p>
//<div class="link1">
//<form>
//<button type="submit" id="link" class="link"><a href="/nextpage1" class="linkcolour">NEXT</button>
//</form>
//</div>
//<a href="nextpage1" class="link">NEXT</a>
//- <script type="text/javascript" src="bootstrap.js"></script>
<script type="text/javascript" src="javascripts/startpage1.js"></script>
</body>
</html>