h1{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 100px;
	letter-spacing: -4px;
	padding-top: 157px;
	color:white;
}

body{
	background-color:#d9d9d9;
	background-image: url(../images/background-bibo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
p{
	text-align: center;
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	
}

.link1{
	padding-left: 46%;
	color: black;
}
.link{
	font-size: 15px;
	cursor:pointer;
	background: #0092A8;
    color: #fff;
    padding: 8px 16px;
	border-radius: 3px;
}
.linkcolour{
	color: #fff;
	text-decoration:none;
}