h1{
	text-align: center;
	font-family: sans-serif;
    font-weight: normal;
}
body{
	background-color: #d9d9d9;
}
p{
	text-align: center;
	font-size: 25px;
}
.link1{
	padding-left: 50%;
	color: black;
}
.link{
	text-decoration: underline;
	font-size: 15px;
	border: navajowhite;
	background: #D9D9D8;
	cursor:pointer;
}
.images{
	padding-left: 40%;
}
.innerimages{
	font-weight: 80px;
}
.btn{
	background-color: #b3b3b3;
	height: 70px;
	width: 70px;
	font-weight: 50px;
}
.fa{
	font-size: 26px;
}