h1{
	text-align: center;
	font-weight: normal;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
}
body{
	background-image: url(../images/background2-bibo.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
p{
	text-align: center;
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
}
.link1{
	padding-left: 48%;
	color: black;
}
.link{
	font-size: 15px;
	cursor:pointer;
	background: #0092A8;
    color: #fff;
    padding: 8px 16px;
    border-radius: 3px;
}
.linkcolour{
	color: black;
	text-decoration:none;
}
.images{
	padding-left: 39%;
}
.innerimages{
	font-weight: 80px;
}
.btn{
	background-color:#7abdcb;
	height: 70px;
	width: 70px;
	font-weight: 50px;
}
.fa{
	font-size: 26px;
	color: #004752;
}