h1{
	text-align: center;
	font-family: sans-serif;
    font-weight: normal;
}
body{
	background-color: #d9d9d9;
}
p{
	text-align: center;
	font-size: 25px;
}
.link1{
	padding-left: 49%;
	color: black;
}
.link{
	font-size: 15px;
	border: navajowhite;
	cursor:pointer;
}
.linkcolour{
	color: black;
	text-decoration:none;
}
.images{
	padding-left: 36%;
}
.btn{
	background-color: #b3b3b3;
	height: 70px;
	width: 70px;
	font-weight: 50px;
}
.innerimages{
	font-weight: 80px;
}
.table.table-bordered tbody tr
{
	border: 1px solid black;
}
.table-bordered tbody tr td {
	border: 1px solid black;
	
  }
  .table-bordered tbody tr .ta{
	  padding-right: 60%
	  
  }
  .table-bordered{
	  margin-left: 52%;
  }
  
 