h1{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
    font-weight: normal;
}
body{
	background-image: url(../images/background2-bibo.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
p{
	text-align: center;
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
}
h2{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
}
.link1{
	text-align: center;
	color: black;
}
.link{
	font-size: 15px;
	background: #0092A8;
    color: #fff;
    padding: 8px 16px;
    border-radius: 3px;
	cursor:pointer;
}
.linkcolour{
	color: black;
	text-decoration:none;
}
.images{
	padding-left: 38%;
}
.btn{
	height: 70px;
	width: 70px;
	font-weight: 50px;
}
.innerimages{
	font-weight: 80px;
}
.table.table-bordered tbody tr
{
	border: 1px solid white;
	color: white;
}
.table-bordered tbody tr td {
	border: 1px solid white;
	color: white;
	
  }
  .table-bordered tbody tr .ta{
	  padding-right: 63%
	  
  }
  .table-bordered{
	  margin-left: 53%;
  }
  
 